@model CollectionApp.Models.CashPoint

@{
    ViewBag.Title = "Delete";
}

<h3>Delete</h3>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CashPoint</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdateUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdateUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("К списку", "Index")
        </div>
    }
</div>
