@model CollectionApp.ViewModel.CashCentreVM

@{
    ViewBag.Title = "Edit";
}

<h3>Редактирование</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Кассового центра</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, "Наименование", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CityId, "Город", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("CityId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TimeZone, "Часовой пояс", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TimeZone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TimeZone, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.LastUpdateUser, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastUpdateUser, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastUpdateUser, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Сохранить" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("К списку", "Index")
</div>

<script>
    @*var clientList = [];
    var cashPointList = [];
    @foreach(var client in Model.SelectedClientIds)
    {
        <text>
            clientList.push('@client')
        </text>
    }

    @foreach (var cashPoint in Model.SelectedCashPointIds)
    {
        <text>
            cashPointList.push('@cashPoint')
        </text>
    }

    $(document).ready(function () {
        console.log(clientList)
        console.log(cashPointList);

        clientList.forEach(function (item)
        {
            $(":input[type=checkbox][value=" + item + "]").prop('checked', true);
            $("#SelectedClientIds option[value=" + item + "]").prop("selected", "selected");

            var p1 = $(":input[type=checkbox][value=" + item + "]").parent();
            var p2 = p1.parent();
            var p3 = p2.parent();
            p3.addClass("active")
        })

        cashPointList.forEach(function (item) {
            $(":input[type=checkbox][value=" + item + "]").prop('checked', true);
            $("#SelectedClientIds option[value=" + item + "]").prop("selected", "selected");

            var p1 = $(":input[type=checkbox][value=" + item + "]").parent();
            var p2 = p1.parent();
            var p3 = p2.parent();
            p3.addClass("active")
        })
    });*@
</script>